<!DOCTYPE HTML>
<html>
<head>
<title>语义网络 </title>
<style type="text/css">
div#header {background-color:#0CF;}
div#body_header {background-color:#FFF;}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href="{{ static_url('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<!--slider-->
<script type="text/javascript" src="{{ static_url('scripts/modernizr.custom.53451.js') }}"></script>
<script type="text/javascript" src="{{ static_url('scripts/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('scripts/jquery.gallery.js') }}"></script>
<script type="text/javascript" src="{{ static_url('scripts/enjoyqw.js') }}"></script>
<script type="text/javascript">

	$(function() {
			$('#dg-container').gallery({
				autoplay	:	true
			});
		});
	var $basepath = 'http://218.240.151.116:28082/';
	function render(html){
		var obj = null;
		url = $basepath + html;
		window.location.href=url;
	}
</script>
</head>
<body>
<div id="header">
  <div class="header">
      <h1>语义网络</h1>
  </div>
</div>
<div id="body_header">
 <div class="body">
 <br />
 <big>欢迎,使用者</big>
   <br />
 <big>语义网络，是一个准确、快速、方便的</big>
   <br />
 <big>解析生活中的语句的网站</big>
   </div>
</div>

<div class="container">
    <section id="dg-container" class="dg-container">
		<div class="dg-wrapper">
		<a href="javascript:void(0)" onclick="render('voice');return false;"><img src="{{ static_url('imgs/声音.png') }}" alt="image1" /></a>
		<a href="javascript:void(0)" onclick="render('temperature');return false;"><img src="{{ static_url('imgs/温度.png') }}" alt="image2" /></a>
		<a href="#"><img src="{{ static_url('imgs/风速.png') }}" alt="image3" /></a>
		<a href="#"><img src="{{ static_url('imgs/时间.png') }}" alt="image4" /></a>
		<a href="#"><img src="{{ static_url('imgs/位置.png') }}" alt="image5" />
		</div>
    </section>
</div>

</div>
</body>
</html>
