<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html " charset="UTF-8">
    <title>语义网络</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/timer.css") }}">
	<script type="text/javascript"> var $basepath = 'http://218.240.151.116:28082/'; var $mdl="Timer"; </script>
   <script  type="text/javascript" language="JavaScript" src="{{ static_url('scripts/timer.js')}}"></script>
   <script type="text/javascript" src="{{ static_url('scripts/jquery.min.js') }}"></script>
</head>
<body>
<!-- 头部设置-->
 <div id="box">
     <div class="header">
         <h1 >语义网络</h1>
		 <ul class="show_content">
			<li>时间</li>
		 </ul>
     </div>
     <!-- 左侧设置-->
	<div class="content">
		<div class="content-left">
			<div class="left-text1">
				<span class="text-big">原始文本:</span><input type="text" id="intext" class="text1" value="" *size="10" />
			</div>
			<div class="left-text2">
				<span class="text-big">分词结果:</span><textarea id="sptext" class="text1" rows="10" *cols="30" readonly></textarea>
			</div>
			<div class="left-text3">
				<span class="text-big">语义解析:</span><textarea id="retext" class="text1" rows="25" *cols="30" readonly></textarea>
			</div>
			<div class="left-button">
				<input type="button" id="searchButton" value="语义解析" class="big_button" onclick="GetResult()"/>
			</div>
		</div>
		<!-- 右侧上部设置-->
		<div class="content-right">
			<div class="content-right-top">
				<div class="delete_text">
					<span class="text-big">删除分词:</span><input type="text" name="del" value="" size="20" id="del_word" >
					<br />
					<input type="button" id="delButton" value="确定" class="big_button" onclick="DealWords('SP','del','del_word',null)">
				</div>
				<div class="add_text">
					<span class="text-big">添加分词:</span><input type="text" name="add" value="" size="20" id="add_word">
					<br />
					<input type="button" id="addButton" value="确定" class="big_button" onclick="DealWords('SP','add','add_word',null)">
				</div>
				<div class="save">
				<form >
						<span class="text-big">保存修改:</span>
						<input type="button" id="saveButton" value="保存" class="three_button" onclick="save_data('Timer')"/>
					</form>
				</div>
			</div>
			<!-- 右侧右部设置-->
			<div class="showText">
				<textarea id="status_id" rows="37" cols="30" readonly></textarea>
			</div>
			<!-- 右侧左部设置-->
			<div class="tu">
			<div class="button-frame">
				<input type="button" class="mid-button" id="tu-add" value="注入" onclick="add_ut()"/>
				<input type="button" class="mid-button" id="tu-del" value="删除" onclick="del('UT','ut_text')"/>
				<input type="button" class="mid-button" id="tu-show" value="获取" onclick="get('UT')"/>
				<input type="button" class="mid-button" id="tu-describe" value="描述" onclick="describe('tu-describe')"/>
				</div>
				<div class="small-content">
					<span class="text-big">时间单位(UT)：</span>
					<input type="text" id="ut_text" size="10"/>
					<span class="text-mid">单位：</span>
					<select id="ut_scope" name="ut_scope">
						<option value="null" >如：年月</option>
						<option value="year">年</option>
						<option value="month">月</option>
						<option value="day">日</option>
						<option value="hour">时</option>
						<option value="min">分</option>
						<option value="sec">秒</option>
					</select>
					<br />
					<form class="one">
						<span class="text-mid">匹配模板(RG)：</span>
						<input type="text" class="ut_match" id="ut_match"  size="10" />
						<span class="text-mid">类型：</span>
						<input class="select" type="checkbox" name="ut_attr" value="num" />数量
						<input class="select" type="checkbox" name="ut_attr" value="date" />时间
					</form>
					</div>
			</div>
			<div class="td">
				<div class="button-frame">
						<input type="button" class="mid-button" id="td-add" value="注入" onclick="add_nt()"/>
						<input type="button" class="mid-button" id="td-del" value="删除" onclick="del('NT','nt_text')"/>
						<input type="button" class="mid-button" id="td-show" value="获取" onclick="get('NT')"/>
						<input type="button" class="mid-button" id="td-describe" value="描述" onclick="describe('td-describe')"/>
					</div>
				<div class="small-content">
						<span class="text-big">时间修饰(NT)：</span>
						<input type="text" id="nt_text" size="10"/>
						<span class="text-mid">单位：</span>
						<select id="nt_scope" name="nt_scope">
							<option value="" >如：年月</option>
							<option value="year">年</option>
							<option value="month">月</option>
							<option value="day">日</option>
							<option value="hour">时</option>
							<option value="min">分</option>
							<option value="sec">秒</option>
						</select>
						<br />
					<form class="one">
						<span class="text-mid">时间区间：</span>
						<input type="text" id="nt_interval" class="nt_interval" size="10" placeholder="[1,2]"/>
						<span class="text-mid">方法:</span>
						<input class="select" type="radio" name="func_type" value="add" id="func_add">加
						<input class="select" type="radio" name="func_type" value="equal" id="func_equal">赋值
					</form>
					</div>
			</div>
			<div class="cd">
				<div class="button-frame">
					<input type="button" class="mid-button" id="cd-add" value="注入" onclick="add"/>
					<input type="button" class="mid-button" id="cd-del" value="删除" onclick="del()"/>
					<input type="button" class="mid-button" id="cd-show" value="获取" onclick="get()"/>
					<input type="button" class="mid-button" id="cd-describe" value="描述" onclick="describe('cd-describe')"/>
				</div>
				<div class="small-content">
					<span class="text-big">综合修饰(CT)：</span>
					<input type="text" id="cd" size="10"/>
					<span class="text-mid">模板：</span>
					<input type="text" id="cd_text" size="7" placeholder="模板"/>
					<br/>
					<form class="one">
						<span class="text-mid">dir：</span>
						<input  class="select" type="radio" name="cd-sel" value="plus" id="cd-1"/>+
						<input  class="select" type="radio" name="cd-sel" value="minus"id="cd-2"/>-
					</form>
				</div>
			</div>
			<div class="tr">
				<div class="button-frame">
					<input type="button" class="mid-button" id="tr-add" value="注入" onclick="add_rt()"/>
					<input type="button" class="mid-button" id="tr-del" value="删除" onclick="del('TM','tr')"/>
					<input type="button" class="mid-button" id="tr-show" value="获取" onclick="get('TM')"/>
					<input type="button" class="mid-button" id="tr-describe" value="描述" onclick="describe('tr-describe')"/>
				</div>
				<div class="small-content">
					<span class="text-big">时间频率(Tr)：</span>
					<input type="text" id="tr" size="31"/>
					<br/>
					<form class="one">
					<span class="text-mid">等级：</span>
                 <input  class="select" type="radio" name="tr-sel" value="high" id="tr-1">高
                 <input  class="select" type="radio" name="tr-sel" value="middle" id="tr-2"/>中
                 <input  class="select" type="radio" name="tr-sel" value="low" id="tr-3">低
                 <input  class="select" type="radio" name="tr-sel" value="saturation" id="tr-4"/>饱和
                 </form>
                 </div>
             </div>
             <div class="bs">
                 <div class="button-frame">
                 <input type="button" class="mid-button" id="bs-add" value="注入" onclick="add_bs()"/>
                 <input type="button" class="mid-button" id="bs-del" value="删除" onclick="del('AS','bs')"/>
                 <input type="button" class="mid-button" id="bs-show" value="获取" onclick="get('AS')"/>
                     <input type="button" class="mid-button" id="bs-describe" value="描述" onclick="describe('bs-describe')"/>
                 </div>
                 <div class="small-content">
                 <span class="text-big">事情状态(Bs)：</span>
                 <input type="text" id="bs" size="31"/>

                 <br/>
                 <form class="one">
                 <span class="text-mid">状态：</span>
                 <input  class="select" type="radio" name="bs-sel" value="start" id="bs-1"/>事前
                 <input  class="select" type="radio" name="bs-sel" value="being" id="bs-2"/>事中
                 <input  class="select" type="radio" name="bs-sel" value="end" id="bs-3"/>事后
                 </form>
                 </div>
             </div>
             <div class="ts">
                 <div class="button-frame">
                 <input type="button" class="mid-button" id="ts-add" value="注入" onclick="add_ts()"/>
                 <input type="button" class="mid-button" id="ts-del" value="删除" onclick="del('TS','ts')"/>
                 <input type="button" class="mid-button" id="ts-show" value="获取" onclick="get('TS')"/>
                     <input type="button" class="mid-button" id="ts-describe" value="描述" onclick="describe('ts-describe')"/>
                 </div>
                 <div class="small-content">
                 <span class="text-big">时间状态(Ts)：</span>
                 <input type="text" id="ts" size="31"/>

                 <br/>
                 <form class="one">
                 <span class="text-mid">状态：</span>
                 <input  class="select" type="radio" name="ts-sel" value="history" id="ts-1"/>过去
                 <input  class="select" type="radio" name="ts-sel" value="now" id="ts-2"/>现在
                 <input  class="select" type="radio" name="ts-sel" value="future" id="ts-3"/>未来
                 </form>
                 </div>
             </div>
         </div>
     </div>
 </div>
</body>
</html>
