
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	font-family: Arial, Geneva,Helvetica, sans-serif;
	font-size: 100%;
	background:#FFF;
	width:1000px;
	margin:0 auto;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#0a0a0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.wrap{
	margin:0 auto;
	width:80%;
}
.header{
	
	text-align: center;
	font-size:40px;
	width:1000px;
	height:50px;
	margin-top:3%;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
	
}
.body{
	
	text-align: center;
	font-size:30px;
	height:150px;
	text-valign:center;
	 border-bottom: 1px solid #000;
    box-sizing: border-box;
	
}
.logo{
	float: left;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*h_right*/
.h_right{
	float: right;
}
.drp-dwn ul li{
	display: inline-block;
}
.drp-dwn ul li h3{
	color: #B4B4B4;
	font-size: 0.8125em;
	text-transform: capitalize;
	margin-right: 10px;
}
.drp-dwn ul li select {
	font-size: 12px;
	padding:2px;
	outline: none;
	display: block !important;
	width: 100%;
	color: #B4B4B4;
	border: 1px solid #555;
	background: #444;
	cursor: pointer;
}

/*h_main*/
.h_main{
	margin-top: 3%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	position: relative;
	border-top:1px solid #555555;
	background: #585858; /* Old browsers */
	background: -moz-linear-gradient(top,  #585858 0%, #313131 1%, #2d2d2d 20%, #232323 70%, #1f1f1f 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585858), color-stop(1%,#313131), color-stop(20%,#2d2d2d), color-stop(70%,#232323), color-stop(99%,#1f1f1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */
}
.nav {
	width: 72%;
	float: left;
}
.nav li.active h3 span{
	color:#F51055;
}
.nav li {
	border-right: 1px solid rgba(32, 32, 32, 1);
	width: 14.333%;
	display: inline-block;
	margin-right: -4px;
}
.nav li:last-child{
	margin-right: 0;
}
.nav li a{
	line-height: 2.2em;
	display: block;
	color: #b4b4b4;
	font-size: 1.2em;
	padding: 8px;
	text-align: center;
	letter-spacing: 0px;
	font-family: 'Anaheim', sans-serif;
}
.nav li a:hover {
	color: #9C9C9C;
	box-shadow: inset 0 0px 0 #292929,inset 0 0 30px #292929;
	-webkit-box-shadow: inset 0 0px 0 #292929,inset 0 0 30px #292929;
	-moz-box-shadow: inset 0 0px 0 #292929,inset 0 0 30px #292929;
	-o-box-shadow:  inset 0 0px 0 #292929,inset 0 0 30px #292929;	
}

/*--Slider--*/
.container {
	margin-top:3%;
}
.dg-container{
	width: 100%;
	height: 400px;
	position: relative;
	 border-bottom: 1px solid #000;
    box-sizing: border-box;
	background-color:#FFF
}
.dg-wrapper{
	width: 321px;
	height: 361px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 321px;
	height: 361px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url('../images/browser.png') no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
/*end slider*/
/*main*/
.main{
	margin: 3% 6%;
	background: #161515;
	border-radius: 5px;
}
/*  GRID OF Four  */
.grid_1_of_4{
	display: block;
	float:left;
	margin:2% 0% 0% 2%;
	background: #FFF;
	background: -moz-linear-gradient(top, #585858 0%, #313131 1%, #2d2d2d 20%, #232323 70%, #1f1f1f 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585858), color-stop(1%,#313131), color-stop(20%,#2d2d2d), color-stop(70%,#232323), color-stop(99%,#1f1f1f));
	background: -webkit-linear-gradient(top, #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%);
	background: -o-linear-gradient(top, #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%);
	background: -ms-linear-gradient(top, #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%);
	background: linear-gradient(to bottom, #585858 0%,#313131 1%,#2d2d2d 20%,#232323 70%,#1f1f1f 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#1f1f1f',GradientType=0 );
}
.images_1_of_4 {
	width: 22.333%;
}
.images_1_of_4  img{
	max-width:100%;
	display:block;
}
.images_1_of_4 a img:hover{
	opacity: 0.7;
}
.images_1_of_4 a h3{
	color: #B4B4B4;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.8em;
	padding: 10px;
	text-transform: capitalize;
}
.images_1_of_4 a h3:hover{
	color: #FF3760;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
}
.btm{
	padding-bottom: 2%;
}

