<!DOCTYPE html>
<html>
    <head>
    <base />
    <title>去玩语义理解体验</title>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link href="{{ static_url("css/css.css") }}" rel="stylesheet" type="text/css">
	<script src="{{ static_url('scripts/jquery-1.7.2.min.js')}}" type="text/javascript"></script>
	<script type="text/javascript">   var $basepath = 'http://218.240.151.116:28082/';var $reg_model = null; </script>
	<script src="{{ static_url('scripts/enjoyqw.js')}}" type="text/javascript"></script>
	<script type="text/javascript">
		function init(){
			statusinfo = document.getElementById("status_id");
			statusinfo.innerHTML = "Hello, Everything is ok!";
		}
    </script>
    </head>

  <body onload="init()">
    <form action="<c:url value='/insert_result.htm'/>" method="post" focus="rawtext" id="fid">
        <table class="table" cellspacing="2" cellpadding="1" width="70%" align="center" border="0">
            <tbody>
                <tr>
                    <th class="bg_tr" colspan="5">语义理解Web接口体验与信息收集</th>
                </tr>
                <tr>
                    <td class="td_bg" rowspan="4" align="center" style="width:15%;"><span class="title">语义理解WEB接口体验</span></td>
                    <td class="td_bg" width="20%" align="right"><span class="title">原始文本</span><br><span class="tips">(可以输入场景声音，温度，风速)</span></td>
                    <td class="td_bg" colspan="3">
                      <textarea name ="text" id="rawtext" rows="2" style="float:left; height:45px; width:60%;"></textarea>
                    </td>
                </tr>
				<tr>
                    <td class="td_bg" align="right"><span class="title">分词结果</span><br><span class="tips">(分词处理，空格间隔)</span></td>
                    <td class="td_bg" colspan="3"><textarea name="sptext" id = "spid" rows="3" readonly="readonly" style="width:60%;"></textarea></td>
                </tr>
				<tr>
                    <td class="td_bg" align="right"><span class="title">语义解析结果</span></td>
                    <td class="td_bg" colspan="3"><textarea id="resid" rows="15" name="res" readonly="readonly" style="width:60%;"></textarea></td>
                </tr>
				<tr>
                    <td class="td_bg" colspan="4" align="center">
                        <a class="button" href="javascript:void(0);" onclick="return Get_Result();" style="margin-bottom:20px; margin-top:10px;">语义理解体验</a>
                    </td>
                </tr>
				<tr>
                    <td class="td_bg" rowspan="6" align="center"><span class="title">专家录入</span></td>
                    <td class="td_bg" rowspan="1" align="right"><span class="title">分词调整</span><br><span class="tips">(分词不好可以添加分词或者删除)</span></td>
                    <td class="td_bg" colspan="2">
						<a class="url" href="javascript:void(0);" onclick="return Del_Split_Word();">删除分词:</a>
						<input type="text" id="spwid" size="2" style="width:120px;"/>
						<span id="spempty" *style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<a class="url" href="javascript:void(0);" onclick="return Add_Split_Word();">添加分词:</a>
                        <input type="text" id="aspwid" size="2" style="width:120px;"/>
                    </td>
                </tr>
				<tr>
					<td class="td_bg" align="right"><span class="title">场景注册</span><br><span class="tips">(车内场景的声音，温度，风速等注册)</span></td>
                    <td class="td_bg" style="width:40%;">
                        <span>场景类别:</span>
						<input type="text" id="sceneid" size="2" style="width:120px;"/>
						<span *style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<a class="button" href="javascript:void(0);" onclick="return Get_Scene();">获取关键字</a>
						<br><br>
						<span>关键字(k):</span>
						<input type="text" id="wordid" size="2" style="width:120px;"/>
						<span *style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<a class="button" href="javascript:void(0);" onclick="return Reg_Scene();">注册</a>
						<a class="button" href="javascript:void(0);" onclick="return Del_Scene();">删除</a>
                    </td>
                    <td class="td_bg" rowspan="5" ><textarea id="sdimen_id"  name="res" readonly="readonly" style="width:98%;height:98%;"></textarea></td>
                </tr>
				<tr>
					<td class="td_bg" align="right">
						<span class="title">词性注册</span>
						<br><span class="tips">标记词语的词性：</span>
						<br><span class="tips">C:尺度形容词列表 C1:尺度形容词修饰</span>
						<br><span class="tips">F:方向动词 X:方向形容词</span>
						<br><span class="tips">X1:方向形容词修饰</span>
						<br><span class="tips">T:取反修饰词</span>
					</td>
                    <td class="td_bg" style="width:30%;">
                        <span>输入词语:</span>
						<input type="text" id="wdimenid" size="2" style="width:120px;"/>
						<span *style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<a class="button" href="javascript:void(0);" onclick="return Reg_Dimen();">准备录入</a>
						<br><br>
						<span>输入词性:</span>
						<input type="text" id="kdimenid" size="2" style="width:120px;"/>
						<span *style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<a class="button" href="javascript:void(0);" onclick="return Get_Dimen();">获取词性</a>
					</td>
                </tr>
				<tr>
					<td class="td_bg" align="right" rowspan="3">
						<span class="title">模型注册</span>
						<br><span class="tips">注册用于识别的模型格式</span>
						<br><span class="tips">以及程度词性</span>
						<br><span class="tips">非专业人士请勿随意操作</span>
					</td>
                    <td class="td_bg" style="width:30%;">
						<span>输入分词,隔开:</span>
						<input type="text" id="spdid" size="2" style="width:120px;"/>
						<span *style="font-size:20px;">&nbsp;</span>
						<a class="button" href="javascript:void(0);" onclick="return Check_Dimen();">准备校验</a>
						<a class="button" href="javascript:void(0);" onclick="return Get_Model();">获取模型</a>
					</td>
                </tr>
				<tr>
					<td class="td_bg" style="width:30%;">
						<span>方向词:</span>
						<input type="text" id="twordid" size="2" style="width:50px;"/>
						<span *style="font-size:20px;">&nbsp;&nbsp;</span>
						<span>方向:</span>
						<input type="radio" name="dir" id="dirid" value="正" />正
						<input type="radio" name="dir" id="dirid" value="负" />负
						<input type="radio" name="dir" id="dirid" value="有" />有
						<input type="radio" name="dir" id="dirid" value="无" />无
						<span *style="font-size:20px;">&nbsp;</span>
						<a class="button" href="javascript:void(0);" onclick="return Reg_Quant();">注册方向</a>
					</td>
                </tr>
				<tr>
					<td class="td_bg" style="width:30%;">
						<span>程度:</span>
						<input type="radio" name="level" id="levelid"  value="低" />低
						<input type="radio" name="level" id="levelid"  value="中" />中
						<input type="radio" name="level" id="levelid"  value="高" />高
						<input type="radio" name="level" id="levelid"  value="NULL" />无
						<input type="checkbox" id="qufanid" value="yes" />取反
						<span *style="font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<a class="button" href="javascript:void(0);" onclick="return Reg_Regs();">注册模型</a>
					</td>
                </tr>
            </tbody>
        </table>
    </form>
    <table class="table" cellspacing="1" cellpadding="2" width="70%" align="center" border="0">
        <tbody>
            <tr>
                <th class="bg_tr" align="center"  height="25">操作状态</th>
            </tr>
            <tr>
                <td class="td_bg" align="center" height="100"><span class="TableRow2"  id="status_id"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
